@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-footer {
  box-shadow: -6px 6px #4d4d58;
}

.bg-img-clip {
  clip-path: inset(0 0 0 0);
}

article a,
p a,
footer a {
  @apply text-b12-purple underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings font-medium text-b12-purple;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

html {
  scroll-behavior: smooth;
}

blockquote {
  @apply p-4 border-l-4 border-l-gray-300 italic;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  @apply bg-cyan-200;
}

html::-webkit-scrollbar-thumb {
  @apply from-cyan-200 to-blue-800 bg-gradient-to-b rounded-lg;
}

.zazzy-scroll::-webkit-scrollbar {
  @apply h-3;
}

.zazzy-scroll-track::-webkit-scrollbar-track {
  @apply bg-cyan-200 rounded-3xl;
}

.zazzy-scroll-thumb::-webkit-scrollbar-thumb {
  @apply from-cyan-200 to-blue-800 bg-gradient-to-r bg-red-400 rounded-3xl;
}
